* {
	box-sizing: border-box;

}

body {
	background-color: #000000;
	color: #dbdada ;
	font-family: "Averia Serif Libre", serif;
  	font-weight: 800;
  	font-style: normal;
  	font-size: 20px;
}

#root {
	display: flex;
}
.header {
	font-size: 20px;
}

.menu {
    display: inline-block;
    float: right;
    padding: 15px 20px;
    background-color: #1F2021;
    border-bottom-left-radius: 26px;
    border-top-right-radius: 26px;
}

.header__title {
	padding-left: 50px;
	display: inline-block;
}

.header__line {
	margin: 20px;
	display: inline-block;
	background-color: #F2D000 ;
	margin-left: 120px;
	padding: 2px;
    height: 2px;
    width: 70px;
}

.nav {

}

.nav__li {
	display: inline-block;
	text-align:center;
	padding: 2px;
	margin: 12px;
}

.nav__li:hover > a {
  color: #F2D000 ;
}

.nav__li:hover {
	

}

.navbar-nav>.active>a {
	color: #F2D000 ;
}

.nav__li a {
	color: #dbdada;
	text-decoration: none;	
}

/*=============================================================*/


.aside {
	width: 20%;
	height: 850px;
	margin: 100px 30px 0px 100px;
	padding: 30px;
	background-color: #2C2C2D;
	border-radius: 26px;
	display: flex;
    flex-direction: column;
}

.memoji-container {
	background-color: grey;
	margin: 40px;
	border-radius: 16px;
}

.memoji-container img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
}

.name {
	text-align: center;
}

.degree {
	padding: 5px;
	margin: 12px;
 	text-align: center;
	background-color: #1F2021;
	border-radius: 6px;
}

.aside-line{
	background-color: #1F2021;
	padding: 2px;
	border-radius: 26px;
}


.contact-container {
	position: relative;
	padding: 20px;
}

.contact-item {
	display: flex;
	position: relative;
	align-items: center;
	padding: 20px;
		
}

.contact-title {
	position: absolute;
  	top: 24px;
  	left: 87px;
}

.contact-info {

	flex: 1;
	font-size: 19px;
	position: absolute;
  	top: 54px;
  	left: 87px;
}

.contact-image {
	flex: 0 1 auto;
	width: 50px;
	margin-right: 15px;
	padding: 5px;
	outline: 3px solid #1F2021;
	border-radius: 16px;

}

.contact-image img{
}


.socialmedia-container {
	display: flex;
	justify-content: center; 
    align-items: center; 
}

.socialmedialogo {
	
	margin: 5px;
	text-align: center;
}

.log {
	padding: 5px;
	text-decoration: none;
	color: grey;
}


.main {
	position: relative;
	width: 65%;
	height: 1200px;
	margin: 100px 30px;
	background-color: #2C2C2D;
	border-radius: 26px;
}

.article {
	padding: 20px;
	margin:  0px 40px;
	background-color:
}

.titles-container {
	display: flex;
	position: relative;
	align-items: center;
	padding: 20px;
	background-color: #1F2021;
	margin: 5px;
	border-radius: 26px;
	width: 45%;
}

.titles-title {
	flex: 1;
	font-size: 19px;
	position: absolute;
  	top: 14px;
  	left: 87px;
}

.titles-text {
	flex: 1;
	font-size: 19px;
	position: absolute;
  	top: 34px;
  	left: 87px;
}

.titles-image {
	flex: 0 1 auto;
	width: 50px;
	margin-right: 15px;
	padding: 5px;
}




















.grid-container {
    columns: 3;
    column-gap: 26px;
    padding: 16px;
    margin: 20px 100px ;
    border-radius: 15px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
}

.grid-item {
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
	break-inside: avoid;
    background-color: #dbdada;
    border-radius: 15px;
    text-align: left;
    font-size: 23px;
    color: #000000
}

.grid-item:hover {
	transform: scale(1.05);
	margin-bottom: 20px;
}

.grid-img:hover {
	transform: scale(1.05);
	margin-bottom: 20px;
}

.grid-item img {
	max-width: 10%;	
	margin: 10px;
}

.grid-item-text	{
	margin-bottom: 40px;
}


.grid-img {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	break-inside: avoid;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.grid-img img {
	border-radius: 15px;
	text-align: center;
	max-width: 100%;	
	max-height: 100%;
	object-fit: contain;
}

.centered  {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);

}

@media (max-width: 1200px){


}

/*=================================MIS PROYECTOS==============================================*/


.cards-container {
	display: flex;
	overflow: hidden;
	width: 100%;
	margin: auto;
}


.cards {
	width: 100%;
	position: relative;
	text-align: center;
	flex: 1; cursor: pointer;
	transition: 0.5s ease;
	height: 220px;
	margin: 5px;
	background-color: #1F2021;
}


.cards:hover {
	flex: 3;
	transition: 0.5s ease;
}