* {
	box-sizing: border-box;

}

body {
	background-color: 	rgb(19, 18, 18);
	color: #dbdada ;
	font-family: "Averia Serif Libre", serif;
  	font-weight: 800;
  	font-style: normal;
  	font-size: 20px;
}

i {
	color: #DAA520;
}

#root {
	display: flex;
}
.header {
	font-size: 20px;
}

.menu {
    display: inline-block;
    float: right;
    padding: 15px 20px;
    background-color: #28282B;
    border-bottom-left-radius: 26px;
    border-top-right-radius: 26px;
}

.header__title {
	padding-left: 50px;
	display: inline-block;
}

.header__line {
	margin: 20px;
	display: inline-block;
	background-color: #DAA520 ;
	margin-left: 120px;
	padding: 2px;
    height: 2px;
    width: 70px;
}

.nav {

}

.nav__li {
	display: inline-block;
	text-align:center;
	padding: 2px;
	margin: 12px;
}

.nav__li:hover > a {
  color: #DAA520 ;
}

.nav__li a {
	color: #dbdada;
	text-decoration: none;	
}


/*======================================Aside=======================*/


.aside {
	width: 20%;
	height: 850px;
	margin: 100px 10px 0px 100px;
	padding: 30px;
	background-color: #1F2021;
	border-radius: 26px;
	display: flex;
    flex-direction: column;
}

.name-container {

}
.memoji-container {
	background-color:#28282B;
	position: relative ;
	width: 180px;
	height: 180px;
	margin: 25px  auto;
	border-radius: 16px;
}

.memoji-container img{
}

.name {
	text-align: center;
}

.degree {
	display: inline-block;
	position: relative;
	left: 50px;
	padding: 7px;
	margin: 12px;
	background-color: #28282B;
	border-radius: 6px;
}

.aside-line{
	background-color: #28282B;
	padding: 2px;
	border-radius: 26px;
}


.contact-container {
	padding-top: 20px;
}

.contact-item {
	 	overflow: hidden;
	display: flex;
	position: relative;
	align-items: center;
	padding: 20px;
		
}

.contact-title {
	position: absolute;
  	top: 24px;
  	left: 87px;
}

.contact-info {
	flex: 1;
	font-size: 19px;
	position: absolute;
  	top: 54px;
  	left: 87px;
 
}

.contact-image {
	background-color: #28282B;;
	flex: 0 1 auto;
	padding: 12px;
	outline: 3px solid #28282B;
	border-radius: 6px;

}

.contact-image i{
}


.socialmedia-container {
	display: flex;
	justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

.socialmedialogo {

	margin: 5px;
	text-align: center;
}

.socialmedialogo i {
	color: grey;;
}

.logo {
	padding: 5px;
	text-decoration: none;
	color: grey;
}

/*======================================Main====================================*/


.main {
	position: relative;
	width: 65%;
	
	margin: 100px 10px;
	background-color: #1F2021;
	border-radius: 26px;
}

.article {
	padding: 20px;
	margin:  0px 40px;
	background-color:
}

.titles-container {
	position: relative;

}
.titles-item {
	position: relative;
	display: inline-flex;
	padding: 20px;
	background-color: #28282B;
	margin: 5px;
	border-radius: 26px;
	width: 48.7%;
	height: 140px;
}

.titles-title {
	flex: 1;
	position: absolute;
	left:80px;
	font-size: 19px;
}

.titles-text {
	flex: 1;
	position: relative;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 10px;
	top: 20px;
	font-size: 18px;
}

.titles-image {
	flex: 0 1 auto;
	margin-right: 15px;
	padding: 5px;
}

.titles-image i{
	position: relative;
	top: 30px;
	font-size: 30px;
}

/*=============================Resume============================*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #28282B;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: -13px;
  background-color: white;
  border: 4px solid #DAA520;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #28282B;
  position: relative;
  border-radius: 6px;
}

.skills-container {
	background-color: #28282B;
	border-radius: 16px;
	padding: 26px;
}

.skills-items {

}

.skills-porc {
	border-radius: 26px;
	background-color: #1F2021 ;
	margin: 10px 0px;
}

.skills-porc-complete {
	border-radius: 26px;
	background-color: #DAA520 ;
	padding: 4px;
	margin: 10px 0px;
}


/*=============================Main===============================*/

.timeline-container {

}

/*=================================MIS PROYECTOS==============================================*/

/*=============================Main===============================*/

.filter-container {
	overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  margin: 0px 15px 15px 6px;
  background-color: #1F2021;
  cursor: pointer;
  color: #dbdada ;
}

.btn.active {
  color: #DAA520;

}

.card {

  /* Add shadows to create the "card" effect */
 	box-shadow: 0 7px 11px 0 rgba(0,0,0,0.2);
 	transition: 0.3s;
	cursor: pointer; 
	width: 30%; 
	border-radius: 16px;
	margin: 5px;
	background-color: #28282B; 
	padding-bottom: 10px;
	display: inline-block;

}

.show {

}

.card img {
	height: 200px;
	object-fit: cover;
	border-radius: 16px 16px 0px 0px;
	margin-bottom: 10px;
}

.card p {
	color: grey;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 26px;
}



/*=====================================Contactos========================*/ 

/*======================================main========================*/
.map {
	padding-bottom: 10px;
}

input[type=text], select, textarea {
  background-color: #28282B;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #1F2021; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #28282B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #28282B;
}

option, select {
	color: white;
}

textarea {
	height: 150px;
}

.container {
  border-radius: 5px;
  padding: 20px;
}